<header class="mainHeader">
  <h3 class="logoText">Angular NGRX Demo</h3>
  <h6 class="menuText"><a  (click)="goBasic()" >Basic</a></h6>
  <h6 class="menuText"><a  (click)="goLazyLoad()" >Lazy-Load</a></h6>
  <h6 class="menuText"><a  (click)="goSideEffects()" >Side-Effects</a></h6>
  <h6 class="menuText"><a  (click)="goSearch()" >Search</a></h6>
  <h6 class="menuText"><a  (click)="goSearch2()" >Entity-Search</a></h6>
  <h6 class="menuText"><a  (click)="goCrud()" >Entity-CRUD</a></h6>
  <h6 class="menuText"><a  (click)="goCrud2()" >Facade</a></h6>
</header>
